/* Dark Background for the entire page */
.dark-background {
  background-color: #141414;
  color: #f1f1f1;
  min-height: 100vh;
  padding: 0;
}

/* Banner styling */
.search-banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  text-align: center;
  border-bottom: 1px solid #333;
margin-bottom: 50px;
  /* Adjust the opacity to darken */

}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.37); /* Adjust the opacity to darken */
  z-index: 1; /* Ensure overlay is above the background image but below text */
}

.search-banner h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5); /* Slightly dark background for text readability */
  padding: 20px;
  border-radius: 8px;
}

/* Container for movie cards */
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Space between cards */
}

/* Styling for movie card wrapper */
.movie-card-wrapper {
  width: 200px; /* Fixed width */
  height: 300px; /* Fixed height */
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Movie card styling */
.movie-card {
  background: #333;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.movie-card img {
  width: 100%;
  height: 70%; /* Ensure the image covers the top part of the card */
  object-fit: cover; /* Maintain aspect ratio of the image */
}

.movie-card-info {
  padding: 10px;
  height: 30%; /* Fixed height for the title area */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.68);
  color: #f1f1f1;
}

.movie-card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
