@import "bootswatch/dist/cyborg/bootstrap.min.css";
@import "bootstrap/scss/bootstrap.scss";
@import "bootswatch/dist/cyborg/bootstrap.min.css";


body {
  background-color: #141414; /* Dark background */
  color: #ffffff;           /* Light text color */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Netflix-like font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}



:root {
  --primary: #e50914;
  --dark-gray: rgba(51, 51, 51, 0.66);
  --text-gray: #ffffff;
  --color-gray: #b3b3b3;
  --button-background: #343a40;
  --text-color: #f8f9fa;
  --background-color: #121212;

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: #e50914;
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 36px;
  --fs-2: 32px;
  --fs-3: 30px;
  --fs-4: 24px;
  --fs-5: 20px;
  --fs-6: 18px;
  --fs-7: 16px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-10: 13px;
  --fs-11: 12px;
  --fs-12: 11px;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;

  /**
   * spacing
   */

  --section-padding: 100px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}




/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

input {
  font: inherit;
  width: 100%;
  border: none;
}

select,
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--eerie-black);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

body.active { overflow: hidden; }



/*body {*/
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  background-color: var(--background-color);*/
/*}*/

input,
button {
  padding: 16px 20px;
  border-radius: 4px;
  &::-ms-check {
    display: none;
  }
}
