.movie-card {
  position: relative;
  width: 200px;
  border-radius: 18px;
  overflow: hidden;
  /*background-color: #141414; !* Dark background for the card *!*/
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.movie-card .card-banner {
  width: 200px;
  height: 285px; /* Fixed height to maintain aspect ratio */
}

.movie-card .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Rounded corners for top of the card */
}

.movie-card .title {
  /*margin: 8px 4px;*/
  color: #fff; /* White text color */
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin-block: 8px 4px;

}

.movie-card .meta-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 8px 4px;
}

.movie-card .meta-item {
  display: flex;
  align-items: center;
}

.movie-card .meta-item .span {
  margin-left: 4px;
  color: #ffdd57; /* Star rating color */
  font-size: 14px;
}

.movie-card .card-badge {
  background-color: #444;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.movie-card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
