
.navbar {
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  /*justify-content: space-between;*/
  transition: background-color 0.3s ease;
  width: 100%;
  z-index: 1000;

}

.navbar.scrolled {
  background-color: #0a0000;
  overflow: hidden;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  max-height: 23.45px;
}
.navbar-nav .nav-link {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}


.navbar-link {
  color: white;
  text-decoration: none;
  padding: 14px 20px;

}

.navbar-nav .nav-link:hover {
  color: red;
}

.search {

  border-radius: 50px;
  background-color: white;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(166, 34, 34, 0.1);
  width: 80%;
  height: 35px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;

}

.search-input {
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  padding-top: 0px;
  border-radius: 50px 0 0 50px;
  background-color: white;

}

.search-icon {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  border-radius: 0 50px 50px 0;
  padding-top: 0px;

}

.search-icon fa-icon {
  color: #555;
  font-size: 1.2rem;

}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-group-text {
  border: none;
  border-radius: 0 50px 50px 0;
  padding-left: 0;
  padding-right: 10px;
}

.button {
  background-color: transparent;
  color: var(--white);
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 16px 35px;
  /*border: 3px solid var(--citrine);*/
  border-radius: 50px;
  transition: var(--transition-1);
  margin-top: 8px;

}
.button {
  background-color: red; }
.button:is(:hover, :focus) {
  background-color: red;
  color: black;
}
