.main-content {
  transform: translate(0px, -110px);
  background-color: #190000; /* Dark color similar to Netflix */
  color: #fff; /* Text color to contrast with the dark background */
  min-height: 100vh; /* Ensure the background covers the full viewport height */
  padding: 0;
  margin: 0;

}

.selector{
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  padding-top: 100px;
  padding-block: var(--section-padding);
  min-width: 100%;
  scroll-snap-align: start;
  position: relative;

}

.title{
  color: var(--white);
  transition: var(--transition-1);
  justify-content: center;
  align-items: center;
  padding-left : 25px;
  padding-top: 50px;

  font-size: 22px;
  font-weight: 700; ;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px;
}
.movie-card .title:is(:hover, :focus) { color: var(--citrine); }

